<div class="panel" style="border-radius:4px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important">
  <div class="panel-body center">
    <div class="row">    
      <div class="col-sm-12">
        <h3><%= topic.title %></h3>  
        <%# if topic.deadline.future? %>
        <!-- <h5 style="color:#95a5a6"><%# topic.deadline.strftime("%d %B %Y") %></h5> -->
        <%# else %>
        <!-- <h5 style="color:#95a5a6">No date set</h5> -->
        <%# end %>
        <hr style="margin:5px">
        <p><%= simple_format(topic.description) %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <% if owner(topic) || current_admin.present? %>
        <%= link_to 'EDIT', edit_topic_path(topic), class:'btn btn-flat flat-inverse btn-rounded btn-md' %>
        <br><br>
      <% end %>
      <%= link_to 'ADD NEW VIDEO', new_topic_post_path(topic), class:'btn btn-flat flat-success btn-rounded btn-md' %>
      </div>
    </div>

  </div>
</div>