<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render partial: "topic", object: @topic, as: 'topic' %>
    </div>    
  </div>
  <div class="row">
  
  <% @topic.posts.each do |post| %>
    <%= link_to post do %>
      <%= render partial: '/posts/post', object: post %>
    <% end %>
  <% end %>

  </div>
</div>
