<div class="container">

  <div class="row">

    <% @videos.each_with_index do |video, idx| %>
      <div class="col-md-4">            
        <%= render "video", video: video, idx: idx %>
      </div>
    <% end %>
  </div>

  <br />
  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to 'ADD VIDEO', new_video_path, class:'btn btn-flat flat-inverse btn-rounded btn-block' %>
        </div>
      </div>
    </div>



  </div>

</div>