<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Upload Video</h3>
        </div>
        <div class="panel-body">
          
          <div class="form-group">
            <label>Select Video</label>
            <%= file_field_tag :file, multiple: true %>
          </div>
          
          <hr>
          
          <button type="button" class="btn btn-flat flat-success btn-rounded btn-block">ADD VIDEO</button>
        </div>
      </div>
    </div>

  </div>
</div>

