<div class="container" style="padding:20px;padding-bottom:15px">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-sm-12">
      <h1 style="font-weight:600">About Voters' Minute</h1>
      <hr>
      <p>
        <strong>Why?</strong>
        <br><br>
        Because your voice matters.<br><br>
        So this is your chance to <%= link_to "add your voice", new_user_registration_path %> to the debate.
        <br><br>
        <strong>How does it work?</strong>
        <br><br>
        It's simple:<br><br>
        •  Get your thoughts in order<br>
        •  Record a one minute video on your phone<br>
        •  Register on Voters' Minute<br>
        •  Upload your video
        <br><br>
        <strong>Why only one minute?</strong>
        <br><br>
        Because one minute is plenty of time to make a good argument.
        <br><br>
        <strong>Who can upload videos?</strong>
        <br><br>
        Anyone.
        <br><br>
        <strong>Who will see my video?</strong>
        <br><br>
        These videos are to help undecided voters and hopefully make some question their position.  Anyone visiting can view the videos and they're selected at random.
        <br><br>
        <strong>Can I share videos on Social Media?</strong>
        <br><br>
        Please do, there are Social Media Sharing buttons every video.
        <br><br>
        <strong>Why can't I comment on videos?</strong>
        <br><br>
        Because there's too much hate on the internet already.
        <br><br>
        <strong>Who are you?</strong>
        <br><br>
        A couple of friends from Edinburgh who are sick to death of it all.
        <br><br>
      </p>
      <p>
        If you have any more questions or want to get in touch, please feel free to <%= mail_to "contact@votersminute.com", "contact", subject: "Contact:" %> with us.
      </p>
    </div>
  </div>
</div>