<div class="container" style="padding:20px;padding-bottom:15px">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-sm-12">
      <div class="panel shadowy">
        <div class="panel-heading">
          <h1 style="font-family: 'Rancho', cursive;">Voters' Minute</h1>
          <hr style="margin-bottom:0px">
        </div>
        <div class="panel-body">
          <p style="font-size: 1.5em">
            <h4>Why?</h4>
            Because opinions matters.
            <br><br>
            All too often the important debates and issues are dominated by campaign sound bites, polls, celebrities, tabloid journalism or the echo chamber of social media.  
            <br><br>
            Voters' Minute wants to change that by giving everyone a chance to give their opinion on what matters to them.  Who knows, your opinion may change someone else's.
            <br><br>
            We don't all agree but that doesn't mean we shouldn't listen, so you don't pick who you listen to next, it's random.
            <br><br>
            So this is your chance to <%= link_to "add your voice", new_user_registration_path %> to the debate.
            <br><br>
            <h4>How does it work?</h4>
            It's simple:<br><br>
            •  Get your thoughts in order<br>
            •  Record a one minute video on your phone<br>
            •  Register on Voters' Minute<br>
            •  Upload your video
            <br><br>
            <h4>Why only one minute?</h4>
            Because one minute is plenty of time to make a good argument.
            <br><br>
            <h4>Who can upload videos?</h4>
            Anyone.
            <br><br>
            <h4>Who will see my video?</h4>
            These videos are to help undecided voters and hopefully make some question their position.  Anyone visiting can view the videos and they're selected at random.
            <br><br>
            <h4>Can I share videos on Social Media?</h4>
            Please do if there's social media sharing buttons under the video.
            <br><br>
            <h4>Why can't I comment on videos?</h4>
            Because there's too much hate on the internet already.
            <br><br>
          </p>
          <p>
            If you have any more questions or want to get in touch, please feel free to <%= mail_to "contact@votersminute.com", "contact", subject: "Contact:" %> with us.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>