<div class="container" style="padding:20px;padding-bottom:15px">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-sm-12">
      <div class="panel shadowy">
        <div class="panel-heading">
          <h3>Conditions of Use for Voters' Minute</h3>
          <hr style="margin-bottom:0px">
        </div>
        <div class="panel-body">
          <p><strong>Terms & Conditions</strong>
            <br><br>
            Sed non lectus id quam sodales dignissim nec nec magna. Donec sit amet tellus semper, ornare risus non, condimentum metus. Nam libero metus, sollicitudin a nulla nec, sagittis bibendum risus. Aenean quis leo eleifend, dignissim orci sed, pretium nibh. Suspendisse sed semper dui, vitae ultricies nisl. Aenean leo ipsum, fermentum sed massa eu, luctus cursus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            <br><br>
            Etiam pretium finibus tortor in venenatis. Aliquam ut quam nulla. Proin vulputate ligula diam, id scelerisque est lobortis vitae. Nam semper quam id scelerisque molestie. Phasellus at odio in lacus tincidunt aliquet a at est.
          </p>
          <p><strong>Privacy Policy</strong>
            <br><br>
            Fusce in convallis turpis. Maecenas quis ultricies ligula, a fermentum diam. Praesent metus ante, luctus et aliquam sit amet, gravida id nulla. Etiam semper rhoncus ullamcorper. Suspendisse quis dictum sem, non maximus mi. 
            <br><br>
            Maecenas nec lectus et dolor porttitor malesuada sed in purus. Praesent eu eros finibus, sagittis velit quis, posuere libero. Curabitur eleifend tortor ut nisi facilisis, vel cursus quam maximus. Phasellus in imperdiet nibh, nec fermentum quam. 
            <br><br>
            Aenean gravida augue at consequat cursus. Donec vitae tempus orci. Vivamus consequat et odio vel posuere. Sed euismod maximus tempus. Suspendisse orci mi, fermentum eget bibendum a, maximus a arcu. Mauris at libero tristique, pellentesque nibh non, lacinia lorem.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>