<div class="container" style="padding:20px;padding-bottom:15px">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-sm-12">
      <div class="panel shadowy">
        <div class="panel-heading">
          <h3>Conditions of Use for Voters' Minute</h3>
          <hr style="margin-bottom:0px">
        </div>
        <div class="panel-body">
          <p><strong>Terms of use</strong>
            <br><br>
            These terms of use (“terms”) refer to the access and use of the VotersMinute website (the “services”), and by accessing these services you agree to be bound by these terms.  If you do not agree to these terms, please do not access or use the services. 
            <br><br>
            <strong>Basic terms</strong>
            <br><br>
            1.  You must be 16 years or older to upload videos to this site.
            2.  You are responsible for the content of any videos uploaded.
            3.  You must not post naked, partially naked videos.
            4.  You are responsible for keeping your password secure.
            5.  You must not use the name of another person or entity with the intention of impersonating that person or entity;
            6.  You must not share videos of others users that don’t have sharing buttons displayed or haven’t received express permission from the user.
            7.  You may not use VotersMinute for any illegal purpose.
            8.  You are responsible for your use of the services and any videos you post. The content you submit, post, or display will be able to be viewed by other users of the services and through third party services and websites. You should only provide content that you are comfortable sharing with others under these terms.
            9.  You must not modify, adapt or hack VotersMinute.
            10. You must not, in the use of VotersMinute, violate any laws in your jurisdiction (including but not limited to copyright laws).
            11. Violation of any of these agreements will result in the termination of your VotersMinute account. 
            <br><br>
            <strong>General terms</strong>
            <br><br>
            We may revise these terms at any time and will notify you of these changes by posting a notification on our site which you will appear as a “pop up” when you next log in. Please check this page from time to time to take notice of any changes we have made. Every time you use the site, the terms in force at the time of your use will apply to the agreement between you and us. We may revise these terms from time to time to reflect changes in relevant laws and regulatory requirements.

            Limitation and exclusion of warranties. We make no representation or warranty that the services and use of the Services will be uninterrupted or error free or fit for your particular purpose. 

            We do not accept any responsibility, and we shall not be liable to you, for any loss or damage whether in contract, delict (including negligence), breach of statutory duty or otherwise, even if foreseeable, arising under or in connection with your use or inability to use the site or reliance on the information contained on this site. Use of the site is at your own risk.

            To the maximum extent permitted by applicable law, we shall not be liable for any indirect, incidental, special, consequential or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, good-will, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the services; (ii) any conduct or content of any third party on the services, including without limitation, any defamatory, offensive or illegal conduct of other users or third parties; (iii) any content obtained from the services; or (iv) unauthorized access, use or alteration of your transmissions or content.

            We may transfer this agreement to someone else. We may transfer our rights and obligations under these terms to another organisation as a result of a sale or transfer of our business or change in ownership of our business. You may not assign, transfer or deal in any other manner with all or any of your rights or obligations under these terms without our prior written consent.

            Entire agreement. These terms and the terms of use and privacy policy constitute the entire agreement between you and us and supersede and extinguish all previous agreements, promises, assurances, warranties, representations and understandings between us, whether written or oral, relating to its subject matter. You acknowledge that in entering into this agreement you do not rely on any statement, representation, assurance or warranty (whether made innocently or negligently) that is not set out in these terms or the terms of use and privacy policy. You and we agree that neither of us shall have any claim for innocent or negligent misrepresentation based on any statement in these terms.

            Nature of agreement. Nothing in these terms shall be deemed to create any kind of partnership or joint venture between us and you.

            Events outside our control. We will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations that is caused by any act or event beyond our reasonable control.

            Nobody else has any rights under this contract. This contract is between you and us. No other person shall have any rights to enforce any of its terms whether under the contracts (rights of third parties) act 1999 or otherwise. If a court finds part of this contract illegal, the rest will continue in force. Each of the paragraphs of these terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.

            If a court finds part of this contract illegal, the rest will continue in force. Each of the paragraphs of these terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.

            Even if we delay in enforcing this contract, we can still enforce it later. If we do not insist immediately that you do anything you are required to do under these terms, or if we delay in taking steps against you in respect of your breaking this contract, that will not mean that you do not have to do those things and it will not prevent us taking steps against you at a later date.

            Which laws apply to this contract and where you may bring legal proceedings. These terms and their subject matter and formation, are governed by English law. You and we both agree that the courts of England and Wales will have exclusive jurisdiction.
            <br><br> 
            <strong>Who we are</strong>
            <br><br>

            We are thefreejobnetwork Limited, a company registered in England under company number 9782273 and have our registered office at W12 7BN, London. 

            You can us by writing to us at contact@votersminute.co.uk.

          </p>
          <p><strong>Privacy Policy</strong>
            <br><br>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>