<div class="container">
  <div class="row"> 
    <h5>Top Topics</h5>
    <% Topic.all.each do |topic| %>
      <div class="col-md-4">
        <div class="panel">
          <div class="panel-body" style="text-align:center">
            <strong style="font-size:1.5em"><%= link_to "#{topic.title}", topic %></strong>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <h5>Top Posts</h5>
    <% Post.all.each do |post| %>
      <%= render partial: "/posts/post", object: post, as: 'post' %>
    <% end %>
  </div>

</div>