<h6 style="color:#2c3e50;font-weight:400;line-height:150%">

  We want people to add constructive arguments to the debate.  Not mindless, negative ranting. 
  <br><br>
  So before you record your video, think about what really matters to you and why it should matter to other people.
  <br><br>
  We'd prefer you didn't swear or say anything to deliberately offend or provoke others.
  <br><br>
  This may be your chance to change someones' mind, so make your minute count.
  <br>
</h6>
  <hr>
<div id="url" data-posturl="<%= topic_posts_path(@topic, @post) %>">

  <div class="form-group-uploader">
    <label>Select Video</label>
    <%= file_field_tag :file, multiple: true %>
    <br>
  </div>

</div>