<p style="color:#2c3e50">

Intructions

</p>

<div id="url" data-posturl="<%= topic_posts_path(@topic, @post) %>">

  <div class="form-group-uploader">
    <label>Select Video</label>
    <%= file_field_tag :file, multiple: true %>
    <br>
  </div>

</div>