<div class="container">
  <div class="row">
    <h6><%= @topic.title %> - Videos</h6>
    <% @topic.posts.each do |post| %>
      <%= render partial: "/posts/post", object: post, as: 'post' %>    
    <% end %>
  
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to 'ADD VIDEO', new_topic_post_path, class:'btn btn-flat flat-success btn-rounded btn-block' %>
    </div>
  </div>

</div>