<div class="col-lg-4 col-lg-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="center">Add Video</h3>
      <h5 class="center" style="color:#95a5a6"><%= @topic.title %></h5>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>