@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "navbar";
@import "panels";
@import "flat-point-template";
@import "image-hover";
@import "posts";
@import "topics";
@import "welcome";
@import "jquery.fileupload-ui";

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import 'https://fonts.googleapis.com/css?family=Rancho';

body {
    overflow: hidden;
    overflow-y: auto;
}

.center {
  text-align: center;
}

.shadowy {
 box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}