
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property="og:title" content="*|MC:SUBJECT|*">
  <title>*|MC:SUBJECT|*</title>
  <style type="text/css">
    p {
      font-family: 'Montserrat', sans-serif;
      color: #2c3e50;
    }
    a {
      font-family: 'Montserrat', sans-serif;
    }

  </style>
</head>
<link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet" type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<body>
  <div>
    <p>Hello <%= @resource.email %>,</p>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>

    <p>Thanks again, 
    <br/><br/>
      <span style="font-family: 'Rancho', cursive;font-size:1.2em;font-weight:600"> 
        Voters'<span style="color:#FF534B;"> Minute</span> Team
      </span>
    </p>
  </div>
</body>
</html>